.box-container {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-gap: 1rem;
  }
  
  .box {
    background-color: gray;
    margin: 1rem;
    width: 30px;
    height: 30px;
  }